body {
    background-color: #3e404a;
    margin: 0;
    font-family: sans-serif, Segoe UI Bold;
}

.header {
    text-align: center;
    padding: 60px 0 20px;
}

.gridheader {
    padding: 30px 0 0 !important;
}

.header h2 {
    position: relative;
    display: inline-block;
    margin: 0;
    color: #fff;
    font-weight: bold;
    font-size: 2em;
    line-height: 1;
}

.horizontalgrid {
    margin: 0 auto;
}

.pagespan {
    width: 100%;
}

.horizontalgrid .frame {
    margin: 0 auto;
    overflow: hidden;
    text-shadow: none;
}

    .horizontalgrid .frame ul {
        list-style: none;
        margin: 60px auto;
        padding: 0;
        height: 100%;
        -webkit-transform-style: preserve-3d;
        -ms-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }

        .horizontalgrid .frame ul li {
            float: left;
            width: 300px;
            height: 100%;
            margin: 0 75px 0 0;
            margin: 0 4.8em 0 0;
            padding: 0;
            background: #fff;
            color:#000;
            text-align: center;
            cursor: pointer;
            border:1px solid rgb(219, 167, 0);
        }

            .horizontalgrid .frame ul li.active {
                color: #fff;
                background: #3B60E4;
            }

            .horizontalgrid .frame ul li:first-child {
                margin-left: 1em;
            }

            .horizontalgrid .frame ul li:last-child {
                 margin: 0 1em 0 0 !important;
            }
             .horizontalgrid .frame ul li.mac {
                  margin: 0 4em 0 0;
            }

.horizontalgrid .scrollbar {
    margin: 8% auto 30px;
    width: 90%;
    height: 25px;
    line-height: 0;
    background-color: gray;
}

    .horizontalgrid .scrollbar .handle {
        width: 100px;
        height: 100%;
        background: #fff;
        cursor: pointer;
    }

        .horizontalgrid .scrollbar .handle .mousearea {
            position: absolute;
            top: -9px;
            left: 0;
            width: 100%;
            height: 20px;
        }

.grid .frame {
    margin: 0 auto;
}

.text-center {
    text-align: center !important;
}

.horizontalgrid .frame ul li .tile-container {
    height: 280px;
}

.tile-button {
    width: 100%;
    height: 100%;
    position: relative;
    -webkit-transition: background-color .5s;
    -moz-transition: background-color .5s;
    -o-transition: background-color .5s;
    transition: background-color .5s;
}

.text-container {
    text-align: center;
    width: 100%;
    /*color:rgb(219, 167, 0);*/
}

    .text-container .top-text {
        padding: 20px 25px 7%;
        text-align: left;
        position: relative;
        text-transform:uppercase;
        font-weight:600;
    }

    .text-container .bottom-text {
        text-align: center;
        width: 100%;
        line-height: normal;
        font-size: 0.95rem;
        /*position: relative;*/
         padding: 6% 0 15px;
    }

/*.tile-text-container {
      top: 50%;
  position: absolute;
  text-transform:uppercase;
    width: 100%;
}*/

.opac {
    opacity: 0.3;
}

.tileLogo {
    background-repeat: no-repeat;
    background-size: 85%;
    background-position: 50% 50%;
}

.icon-container {
     width: 100% !important;
  padding: 30% 0;
}

.sms4 {
    background-image: url('../images/sms4.jpg') !important;
    /*background-repeat: no-repeat;
    background-size: 75%;
    background-position: 50%;*/
}

.cloud-uploader{
     background-image: url('../images/modernapps.png') !important;
    /*background-repeat: no-repeat;
    background-size: 75%;
    background-position: 50%;*/
}
.custom-carousel{
 background-image: url('../images/carousel.png') !important;
    /*background-repeat: no-repeat;
    background-size: 75%;
    background-position: 50%;*/
}
.wmf{
 background-image: url('../images/WMF.png') !important;
    /*background-repeat: no-repeat;
    background-size: 75%;
    background-position: 50%;*/
}
.android-network-sharing{
 background-image: url('../images/android-network-sharing.jpg') !important;
    /*background-repeat: no-repeat;
    background-size: 75%;
    background-position: 50%;*/
}

.machine-learning{
 background-image: url('../images/machine-learning.png') !important;
    /*background-repeat: no-repeat;
    background-size: 75%;
    background-position: 50%;*/
}
.multiplatform-book-creation{
 background-image: url('../images/multiplatform-book-creation.png') !important;
    /*background-repeat: no-repeat;
    background-size: 75%;*/
    background-position: 50% 1%;
}
.android-circular-carousel{
 background-image: url('../images/android-circular-carousel.png') !important;
    /*background-repeat: no-repeat;
    background-size: 75%;
    background-position: 50%;*/
}


@media (max-width: 1300px) {
    .horizontalgrid  .frame ul li {
        width: 300px;
        margin: 0 4em 0 0;
    }

        .horizontalgrid .frame ul li .tile-container {
            height: 300px;
        }

            .horizontalgrid .frame ul li .tile-container .top-text {
                padding: 10px 25px 0;
            }
}

@media (max-width: 1190px) {
    .horizontalgrid .frame ul li {
        width: 275px;
        margin: 0 3.5em 0 0;
    }

        .horizontalgrid .frame ul li .tile-container {
            height: 275px;
        }
}

@media (max-width: 1060px) {
    .horizontalgrid .frame ul li {
        width: 250px;
        margin: 0 3em 0 0;
    }

        .horizontalgrid .frame ul li .tile-container {
            height: 250px;
        }

            .horizontalgrid .frame ul li .tile-container .top-text {
                padding: 10px 15px 0;
            }
}

@media (max-width: 970px) {
    .horizontalgrid .frame ul li {
        width: 230px;
        margin: 0 2em 0 0;
    }

        .horizontalgrid .frame ul li .tile-container {
            height: 230px;
        }

            .horizontalgrid .frame ul li .tile-container .text-container {
                font-size: 1em;
            }
}

@media (max-width: 840px) {
    .horizontalgrid .frame ul li {
        width: 200px;
        margin: 0 2em 0 0;
    }

        .horizontalgrid .frame ul li .tile-container {
            height: 200px;
        }

            .horizontalgrid .frame ul li .tile-container .top-text {
                padding: 5px 10px 0;
            }
}


@media (max-width: 767px) {
    .horizontalgrid .frame ul {
        margin: 30px auto;
    }
}

@media (max-width: 760px) {
    .horizontalgrid .frame ul li {
        width: 200px;
        margin: 0 2em 0 0;
    }

        .horizontalgrid .frame ul li .tile-container {
            height: 200px;
        }
}

@media (max-width: 586px) {
    .horizontalgrid .frame ul li {
        width: 285px;
        margin: 0 3em 0 0;
    }

        .horizontalgrid .frame ul li .tile-container {
            height: 285px;
        }
}

@media (max-width: 546px) {

    .horizontalgrid .frame ul li {
        width: 265px;
        margin: 0 4em 0 0;
    }

        .horizontalgrid .frame ul li .tile-container {
            height: 265px;
        }
}

@media (max-width: 500px) {
    .horizontalgrid .frame ul {
        margin: 20px auto;
    }
    .horizontalgrid .frame ul li {
        width: 240px;
        margin: 0 3em 0 0;
    }

        .horizontalgrid .frame ul li .tile-container {
            height: 240px;
        }
}

@media (max-width: 420px) {
    .horizontalgrid .frame ul li {
        width: 200px;
        margin: 0 2em 0 0;
    }

        .horizontalgrid .frame ul li .tile-container {
            height: 200px;
        }
}
